<% cache do %>
<div id="footer">
	<div id="footer-wrapper">
		<div id="copyright">
		<%= link_to(image_tag("logo-sp-footer.png",:alt=>"Singapore Polytechnic",:title=>"Singapore Polytechnic",:width=>"200",:style=>"margin-bottom: 10px;"),("http://www.sp.edu.sg"),:target=>"_blank")%>
			<span><%=t('support_mail').html_safe %></span>
			<span>
			<%=link_to "隐私声明", "http://www.redhat.com/legal/privacy_statement.html", :target => "_blank"%> | <%=link_to "关于红帽", "http://www.redhat.com/about/", :target => "_blank"%>
			</span>
			<span>
			Copyright &copy;<%= Time.now.year %> Red Hat, Inc.
			</span>
		</div><!-- /#copyright -->
	</div>
</div>
<% end %>
